{% extends 'base.html' %}
{% block content %}
    {% if item_list|length == 0 %}
      <h3>No Wish Items Exist</h3>
      <hr>
      <a class="pure-button" href="{% url 'add' %}">Add Wish Item</a>
    {% else %}
     <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
            <th>Wish</th>
            <th>Delete</th>
        </tr>
      </thead>
       <tbody>
        <tr>
            {% for item in items %}
            <td>{{item.description}}</td>
            <td>X</td>
            {% endfor %} 
        </tr>
      </tbody>
    </table>
  {% endif %} 
{% endblock %} 
